.login-div {
  position: fixed;
  top: 2%;
  width: 80%; 
  max-width: 600px; 
  height: auto;
  left: 10%; 
  z-index: 1000 !important;
  visibility: inherit;
  opacity: 1;
  transform: translateY(0);
  text-align: center; 
}

.combined {
  color: grey;
}

.vedts-letter-blue {
  color: white;
  display: inline-block;
  transition: color 0.3s ease; 
}

.vedts-letter-white {
  color: white;
  display: inline-block;
  transition: color 0.3s ease; 
}

.combined:hover .iso-letter-red {
  color: white; 
}

.combined:hover .iso-letter-white {
  color: white; 
}

.bg-nav-new {
  position: fixed;
  z-index: 22;
  background: #00c6ff;
  background: -webkit-linear-gradient(55deg,#0072ff 10%,#00c6ff 90%);
  background: linear-gradient(35deg,#0072ff 10%,#00c6ff 90%);
  top: 0;
  left: 0;
  backdrop-filter: blur(1px);
  width: 100%;
  height: 55px;
}



.login-container {
  min-width: 90%; 
  min-height: 80%;
  margin: auto;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.login-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background-color: rgb(140, 147, 223);
  box-shadow: 10em 0 7em 5em rgb(140, 147, 223);
  transform: skew(45deg);
  z-index: -1;
}


.login-button-customized{
  background-color: #ffffff;
  color: #0f0f0f;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
}

.login-button-customized.hidden{
  background-color: transparent;
  border-color: #fff;
}

.vedts-main-div {
  /* background-image: url(../../assets/images/vedtsBackground3.jpg);  */
  background-image: url(../../assets/images/vedtsBackground6.jpg); 
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: right center; 
  width: 100%;
}

.ims-section{
  background-color:#222222;
}

.new-menu {
  display: block !important;
  padding: 30px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 616111;
}

.vedts-name{
  color: #ffffff!important;
}

.login-mod{
  position: relative;
  padding: 56px 125px 50px;
  background-color: #222222!important;
  border-radius: 15px!important;
  margin: 0 250px;
  z-index: -1;
}





.box {
  position: relative;
  width: 380px;
  height: 420px;
  border-radius: 8px;
  background: transparent;
  overflow: hidden;
}

/* .box::before{
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 280px;
  height: 420px;
  background: linear-gradient(0deg, transparent, 
  #00eaff, #00eaff);
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
}

.box::after{
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 380px;
  height: 420px;
  background: linear-gradient(0deg, transparent, 
  #00eaff, #00eaff);
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: -3s;
} */

@keyframes animate {
  0%{
      transform: rotate(0deg);
  }
  100%{
      transform: rotate(360deg);
  }
}

.form {
  position: absolute;
  inset: 4px;
  border-radius: 8px;
  background: #00c6ff;
  background: -webkit-linear-gradient(55deg,#0072ff 10%,#00c6ff 90%);
  background: linear-gradient(35deg,#0072ff 10%,#00c6ff 90%);
  z-index: 10;
  padding: 50px 40px;
  display: flex;
  flex-direction: column;

}
.form h2 {
  color: #fff;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0,1em;

}

.inputBox{
  position: relative;
  width: 300px;
  margin-top: 35px;

}
.inputBox input {
  position: relative;
  width: 100%;
  padding: 10px 9px 10px;
  background: transparent;
  border: none;
  outline: none;
  color: #23242a;
  font-size: 1em;
  letter-spacing: 0.05em;
  z-index: 10;
}

.inputBox span{
  position: absolute;
  left: 0;
  padding: 10px 10px 10px;
  font-size: 1em;
  color: #ffffff;
  pointer-events: none;
  letter-spacing: 0.05em;
  transition: 0.5s;
}

.content-box{
  margin-bottom: 70px!important;
}

.inputBox input:valid ~ span, 
.inputBox input:focus ~ span  {
  color: #f1f5f5;
  transform: translateX(0px) translateY(-34px);
  font-size: 0.75em;

}

.inputBox i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #f1f1f1;
  border-radius: 4px;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
}

.inputBox input:valid ~ i, 
.inputBox input:focus ~ i {
  height: 44px;

}

.links {
  display: flex;
  justify-content: space-between;

}

.links a {
  margin: 10px 0;
  font-size: 00.75em;
  color: #8f8f8f;
  text-decoration: none;
}

.links a:hover,
.links a:nth-child(2)
{
  color: #45f3ff;

}
input[type='submit'] {
  border: none;
  outline: none;
  background: #f5f8f8;
  padding: 11px 25px;
  width: 100px;
  margin-top: 10px;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
}

input[type='submit']:active {
  opacity: 0.8;
}



/*********FOOTER**************/
.navbar.bottom-navbar-customized {
   background: linear-gradient(90deg, #0d6efd, #0dcaf0); 
  color: white !important;
  border-radius: 1px;
  height: 55px;
  font-weight: 600px;
}
