
@import "material-design-icons-iconfont/dist/material-design-icons.min.css";

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.material-icons {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  color:white;
}



/* .modal {
  background-color: rgba(70, 68, 68, 0.5); 
} */

/* Basic styles for the fluid button */
.modal-close {
  display: flex;  /* Enable flexbox */
  justify-content: center;  /* Center horizontally */
  align-items: center;  /* Center vertically */
  width: auto;  /* Makes the button fluid */
  padding: 10px 20px;
  height: 42px;
  font-size: 16px;
  border: 2px solid #d32f2f;  /* Red border color */
  background-color: #d32f2f;  /* Red background color */
  color: white;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.3s ease;  /* Smooth transition */
  box-sizing: border-box;  /* Ensures padding doesn't affect the width */
}

/* Hover effect for the fluid button */
.modal-close:hover {
  background-color: #c62828;  /* Darker red on hover */
  border-color: #c62828;
}

/* Active state (when button is clicked) */
.modal-close:active {
  background-color: #b71c1c;  /* Even darker red on click */
  border-color: #b71c1c;
  transform: scale(0.98);  /* Slight scale down effect on click */
}




